#demo{
    border: double ;
    background-image: url(../image/50-anh-background-dep-nhat.png);
    width: 500px;
    height: 400px;
}
hr{
    width: 490px;
    background: rgb(212, 108, 190);
}
h3{
    margin-top: 0px;
    color: red;
    margin-left: 5px;
}
ul{
    margin-left: 5px;
    padding: 0px;
}
ul li{
    list-style: none;   /*xóa dấu chấm trước ul*/
}
#color{
    color: rgb(153, 17, 123);
}
#dinhdang{
    float: right;
    margin-right: 10px;
}